body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #0077ff;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'qurova';
  src: url('./assets/QurovademoSemibold-xRZqR.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
